<p class="categ">Змінити заклад</p>

<p id="notice"><%= notice %></p>

<p>
  <strong>Назва:</strong>
  <%= @catalog.title %>
</p>

<p>
  <strong>Категорія:</strong>
   <%= @catalog.category.title %>
</p>

<p>
  <strong>Розташування:</strong>
  <%= link_to @catalog.location, @catalog.location %>
</p>

<p>
  <strong>Номер телефону:</strong>
  <%= @catalog.phone_number %>
</p>

<% if @catalog.open_time_monday == "2000-01-01 00:00:00" && @catalog.close_time_monday == "2000-01-01 00:00:00"%>
  <p> Понеділок: Ми закриті </p>
<% else %>
  <p>
    <strong>Час в понеділок:</strong>
    <%= @catalog.open_time_monday.strftime("%H:%M") %> -
    <%= @catalog.close_time_monday.strftime("%H:%M") %>
  </p>
<% end %>

<% if @catalog.open_time_tuesday == "2000-01-01 00:00:00" && @catalog.close_time_tuesday == "2000-01-01 00:00:00"%>
  <p> Вівторок: Ми закриті </p>
<% else %>
  <p>
    <strong>Час в вівторок:</strong>
    <%= @catalog.open_time_tuesday.strftime("%H:%M") %> -
    <%= @catalog.close_time_tuesday.strftime("%H:%M") %>
  </p>
<% end %>

<% if @catalog.open_time_wednesday == "2000-01-01 00:00:00" && @catalog.close_time_wednesday == "2000-01-01 00:00:00"%>
  <p> Середа: Ми закриті </p>
<% else %>
  <p>
    <strong>Час в середу:</strong>
    <%= @catalog.open_time_wednesday.strftime("%H:%M") %> -
    <%= @catalog.close_time_wednesday.strftime("%H:%M") %>
  </p>
<% end %>

<% if @catalog.open_time_thursday == "2000-01-01 00:00:00" && @catalog.close_time_thursday == "2000-01-01 00:00:00"%>
  <p> Четвер: Ми закриті </p>
<% else %>
  <p>
    <strong>Час в четвер:</strong>
    <%= @catalog.open_time_thursday.strftime("%H:%M") %> -
    <%= @catalog.close_time_thursday.strftime("%H:%M") %>
  </p>
<% end %>

<% if @catalog.open_time_friday == "2000-01-01 00:00:00" && @catalog.close_time_friday == "2000-01-01 00:00:00"%>
  <p> П'ятниця': Ми закриті </p>
<% else %>
  <p>
    <strong>Час в п'ятницю':</strong>
    <%= @catalog.open_time_friday.strftime("%H:%M") %> -
    <%= @catalog.close_time_friday.strftime("%H:%M") %>
  </p>
<% end %>

<% if @catalog.open_time_saturday == "2000-01-01 00:00:00" && @catalog.close_time_saturday == "2000-01-01 00:00:00"%>
  <p> Субота: Ми закриті </p>
<% else %>
  <p>
    <strong>Час в суботу:</strong>
    <%= @catalog.open_time_saturday.strftime("%H:%M") %> -
    <%= @catalog.close_time_saturday.strftime("%H:%M") %>
  </p>
<% end %>

<% if @catalog.open_time_sunday == "2000-01-01 00:00:00" && @catalog.close_time_sunday == "2000-01-01 00:00:00"%>
  <p> Неділя: Ми закриті </p>
<% else %>
  <p>
    <strong>Час в неділю:</strong>
    <%= @catalog.open_time_sunday.strftime("%H:%M") %> -
    <%= @catalog.close_time_sunday.strftime("%H:%M") %>
  </p>
<% end %>

<p>
  <strong>Опис:</strong>
  <%= @catalog.description %>
</p>

<p>
  <strong>Фото:</strong> <br>
  <% @catalog.photos.each do | photo | %>
  		<%= image_tag(photo.url, size: "500x300")%>	<br> <br>
  <% end %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @catalog.has_free_wifi %>
</p>

<p>
  <strong>Адреса:</strong>
  <%= @catalog.address %>
</p>
<%= form_with(model: @catalog, local: true) do |form| %>
  <div class="actions">
    <%= form.label :approved %>
    <%= form.check_box :approved %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', catalogs_path %>
