<p id="notice"><%= notice %></p>

<h1 class="Catal">Catalogs</h1>

  <div class="pole">


    <% @catalogs.each do |catalog| %>
    <strong>Title:</strong><%= catalog.title %><br>
      <strong>Location:</strong>  <%= catalog.location %><br>
        <strong>Phone number:</strong><%= catalog.phone_number %><br>
      <strong>Open time Monday:</strong><%= catalog.open_time_monday %><br>
        <strong>Open time Tuesday:</strong><%= catalog.open_time_tuesday %><br>
      <strong>Open time Wednesday:</strong><%= catalog.open_time_wednesday %><br>
      <strong>Open time Thursday:</strong><%= catalog.open_time_thursday %><br>
        <strong>Open time Friday:</strong><%= catalog.open_time_friday %><br>
      <strong>Open time Saturday:</strong><%= catalog.open_time_saturday %><br>
        <strong>Open time Sunday:</strong><%= catalog.open_time_sunday %><br>
      <strong>Description:</strong><%= catalog.description %><br>
        <strong>Photo:</strong><%= catalog.photos %><br>
      <strong>Has free wifi:</strong><%= catalog.has_free_wifi %><br>
      <strong>Address:</strong><%= catalog.address %><br>
      <%= link_to 'Show', catalog %><br>
      <%= link_to 'Edit', edit_catalog_path(catalog) %><br>
      <%= link_to 'Destroy', catalog, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>

<br>

<%= link_to 'New Catalog', new_catalog_path %>
</div>
