<div  class="showpage">
<p id="notice"><%= notice %></p>
 <section class="main-slider photo-slidewrap" >
   <div class="bx-wrapper" style="max-width: 100%;">
     <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 700px;">
       <div class="photo-slide" style="width: auto; position: relative;">
         <div class="slide" style="float: none; list-style: none; position: absolute; z-index: 50; display: block; width: 1300px;">

           <%= image_tag(@catalog.photos[0].url, size: "1300x700")%>
           <div class="res-title">
              <p class="showpole"><%= @catalog.title %></p>
              </div>
              <div class="aver">
              <p class="showpole1">Середній рейтинг</p>
              <div class="average-review-rating" data-score=" <%= @average_review %> "></div>

              <p class="showpole1">Базується на  <%= @catalog.reviews.count %> reviews</p>
              </div>
              <div class="shadow"></div>


          </div>
         </div>
        </div>
      </div>

 </section>
<div class="stovpchiki">
<div class="about">
<h3 class="Opus">Головні контакти</h3>
  <div class="pole1">
<p>
  <strong>Категорія: </strong><%= @catalog.category.title %>
</p>
</div>
<div class="pole1">
<p>
  <strong>Розташування:</strong>
  <%= link_to @catalog.location, @catalog.location %>
</p>
</div>
<div class="pole1">
<p>
  <strong>Номер телефону:</strong>
  <%= @catalog.phone_number %>
</p>
</div>
<div class="pole1">
<p>
  <strong>Адреса:</strong>
  <%= @catalog.address %>
</p>
</div>
</div>

<div class="right">
  <h3 class="Open">Час і дні роботи</h3>
  <div class="pole1">
<% if @catalog.open_time_monday == "2000-01-01 00:00:00" && @catalog.close_time_monday == "2000-01-01 00:00:00"%>
  <p> Понеділок: Закрито </p>
<% else %>

  <p>
    <strong>Час в понеділок:</strong>
    <%= @catalog.open_time_monday.strftime("%H:%M") %> -
    <%= @catalog.close_time_monday.strftime("%H:%M") %>
  </p>
<% end %>
</div>
<div class="pole1">
<% if @catalog.open_time_tuesday == "2000-01-01 00:00:00" && @catalog.close_time_tuesday == "2000-01-01 00:00:00"%>
  <p> ВІвторок: Ми закриті </p>
<% else %>
  <p>
    <strong>Час в вівторок:</strong>
    <%= @catalog.open_time_tuesday.strftime("%H:%M") %> -
    <%= @catalog.close_time_tuesday.strftime("%H:%M") %>
  </p>
<% end %>
</div>
<div class="pole1">
<% if @catalog.open_time_wednesday == "2000-01-01 00:00:00" && @catalog.close_time_wednesday == "2000-01-01 00:00:00"%>
  <p> Середа: Ми закриті </p>
<% else %>
  <p>
    <strong>Час в середу:</strong>
    <%= @catalog.open_time_wednesday.strftime("%H:%M") %> -
    <%= @catalog.close_time_wednesday.strftime("%H:%M") %>
  </p>
<% end %>
</div>
<div class="pole1">
<% if @catalog.open_time_thursday == "2000-01-01 00:00:00" && @catalog.close_time_thursday == "2000-01-01 00:00:00"%>
  <p> Четвер: Ми закриті </p>
<% else %>
  <p>
    <strong>Час в четвер:</strong>
    <%= @catalog.open_time_thursday.strftime("%H:%M") %> -
    <%= @catalog.close_time_thursday.strftime("%H:%M") %>
  </p>
<% end %>
</div>
<div class="pole1">
<% if @catalog.open_time_friday == "2000-01-01 00:00:00" && @catalog.close_time_friday == "2000-01-01 00:00:00"%>
  <p> П'ятниця': Ми закриті</p>
<% else %>
  <p>
    <strong>Час в п'ятницю:</strong>
    <%= @catalog.open_time_friday.strftime("%H:%M") %> -
    <%= @catalog.close_time_friday.strftime("%H:%M") %>
  </p>
<% end %>
</div>
<div class="pole1">
<% if @catalog.open_time_saturday == "2000-01-01 00:00:00" && @catalog.close_time_saturday == "2000-01-01 00:00:00"%>
  <p> Субота: Ми закриті </p>
<% else %>
  <p>
    <strong>Час в суботу:</strong>
    <%= @catalog.open_time_saturday.strftime("%H:%M") %> -
    <%= @catalog.close_time_saturday.strftime("%H:%M") %>
  </p>
<% end %>
</div>
<div class="pole1">
<% if @catalog.open_time_sunday == "2000-01-01 00:00:00" && @catalog.close_time_sunday == "2000-01-01 00:00:00"%>
  <p> Неділя: Ми закриті</p>
<% else %>
  <p>
    <strong>Час в неділю:</strong>
    <%= @catalog.open_time_sunday.strftime("%H:%M") %> -
    <%= @catalog.close_time_sunday.strftime("%H:%M") %>
  </p>
<% end %>
</div>
</div>
<div class="Deskr">
  <h3 class="Open">Опис</h3>
  <div class="pole1">
<p>

  <strong>Опис:</strong>
  <%= @catalog.description %>
</p>
</div>
<div class="pole1">
<p>
  <strong>Наявність безкоштовного wi-fi:</strong>
  <%= @catalog.has_free_wifi %>
</p>
</div>

<div class="pole1">
<%= link_to "Додати відгук", new_catalog_review_path(@catalog.id), class:"text-danger" %> <br>

<%= render @catalog.reviews %>
</div>
<div class="pole1">
<%= link_to 'Редагувати', edit_catalog_path(@catalog), class:"text-danger" %>
</div>
</div>
</div>
<div class="photos">
<strong class="tit">Фото:</strong>
<p>
<% @catalog.photos.each do | photo | %>
   <%= image_tag(photo.url, size: "500x300")%>
<% end %>
</p>
</div>



<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });

  $('.average-review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
</div>
