<div class="fields3"
<div class="h3">
<h3>Forgot your password?</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <input type="submit" value="Send my password">
  </div>
<% end %>
<div class="signup2">
<%= link_to "Sign up", new_registration_path(resource_name), class:"text-white" %><br />
</div>
<div class="login2">
  <%= link_to "Log in", new_session_path(resource_name), class:"text-white" %><br />
  </div>
</div>
</div>
