<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<%= form_for @employer, url: user_employers_path do |f| %>
<% if @employer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@employer.errors.count, "error") %> </h2>

    <ul>
    <% @employer.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger"><%= msg %></div>
    <% end %>
    </ul>
  </div>
<% end %>
<h1 class="text-dark">Розмістити вакансію</h1>
<div class="fields" >
<h4>Назва</h4>
	<div class="pole"><%= f.text_field :title%></div>
<h4>Компанія</h4>
<div class="pole"><%= f.text_field :company%></div>
  <h4>Категорії</h4>
 <div class="cat"><%= f.select :category_id  , Category.all.collect {|p| [ p.title, p.id ] }, :prompt => 'Оберіть категорію'%></div> <br>

<h4>Номер телефону</h4>
<div class="pole"><%= f.text_field :phone%></div>
<h4>Місто</h4>
<div class="pole"><%= f.text_field :city%></div>
<h4>Місце роботи</h4>
<div class="pole"><%= f.text_field :placeofwork%></div>
<hr >
<h4>Вид зайнятості</h4>
<div class="pole"><%= f.text_field :employment%></div>
<h4>Опис роботи</h4>
<div class="pole"><%= f.text_field :descriptionsofwork%></div>
<hr >
<h4>Вимоги до кандидатів</h4>
<div class="pole"><%= f.text_field :requirementsforcandiate%></div>
<h4>Ми пропонуємо</h4>
<div class="caracters"><%= f.text_field :weoffer%></div>
<div class="actions"><%= f.submit "Розмістити" %></div>
</div>
<% end %>

</body>
</html>
