<div class="review-rating" data-score="<%= review.rating %>"></div>
<%= review.comment %><br>
<% review.photos.each do | photo | %>
	<%= image_tag(photo.url, size: "150x100")%>	<br> <br>
<% end %>

<% if user_signed_in? %>
	<% if review.user_id == current_user.id %>
		<%= link_to "Edit", edit_catalog_review_path(review.catalog, review) %>
		<%= link_to "Delete", catalog_review_path(review.catalog, review), method: :delete, data: {confirm: "Are you sure?"} %>
	<% end %>
<% end %>
<hr>
