<nav class="navbar navbar-default">

  <div class="container">

    <div class="navbar-header">
      <%= link_to image_tag("/assets/logo1.png"), root_path %>
    </div>
    <ul class="navbar-nav">

    <div class="search">

      <%= form_tag search_catalogs_path, method: :get do |f| %>
      <%= text_field_tag :search, nil, :placeholder => "Пошук" %>
      </div>
      <div class="col-auto">
      <%= submit_tag "Пошук", :style => "width:100px;color:white; background:red;border: 2px solid #ddd;" %>
      </div>
      <% end %>

    </ul>

      <% if user_signed_in? %>
      <ul class="dropdown">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-danger" data-toggle="dropdown"><%= image_tag(current_user.avatar_url, size:"40x40", class:"rounded-circle") %>
            <%= current_user.username %></a>
          <div class="dropdown-menu">

          <a class="dropdown-item1"><%= link_to "Вийти", destroy_user_session_path,class: "nav-link text-danger", method: :delete %></a><br />
            </div>


        </ul>
      <% else %>
        <li class="login"><%= link_to "Увійти", new_user_session_path,class: "nav-link text-danger"%></li>
      <% end %>
      <ul class="dropdow">
        <li class="nav-item dropdown">
                <a class="drop1 dropdown-toggle text-danger" data-toggle="dropdown">Категорії</a>
                <div class="drops dropdown-menu">

                </div>
              </ul>

  </div>
</nav>
